@import '../../variables.scss';

.header_main {
  margin: 2rem 0;

  h1 {
    font-weight: normal;
    margin: 0;
  }

  svg {
    color: $svgPrimary;

    &:hover {
      cursor: pointer;
    }
  }
}