$bgApp: #f2f7f7;
$svgPrimary: #4c99b0;
$bgBtnPrimary: #325c75;
$white: #ffffff;
$gray: #808080;
$itemHoveredPrimary: #ebe8e8;

$fsizeNormal: 1rem;

$bdPrimary: 1px solid $gray;
$bdBtnPrimaryOutlined: 2px solid $bgBtnPrimary;

$breakpointMobile: 320px;
$breakpointTablet: 768px;
$breakpointDesktop: 1025px;

$dropDownWidthMobile: 90%;
$dropDownWidthTablet: 20%;
$dropDownWidthDesktop: 15%;

$controlsWidthMobile: 90%;
$controlsWidthTablet: 90%;
$controlsWidthDesktop: 10%;

$mainItemHeight: 40px;

$boxShadowPrimary: rgba(204, 204, 204, 0.5)